<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Secure Hospital System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <script th:inline="javascript">
        function labstaffdashboard(){
            window.location = '/labstaff/home';
        }
    </script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a th:href="@{/labstaff/home}" class="navbar-brand" href="#">Secure Hospital System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
	        <ul style="list-style: none; display:contents">
		        <li class="nav-item active" style="padding-right: 20px;">
	        		<div style="display: flex; align-items:center">
				      	<div style="height: 10px; width: 10px; border-radius:50%; background-color: var(--success)"></div>
				      	<em style="color:white; font-size: 15px; margin-left: 10px">logged in as <span th:text="${accountName}"></span></em>
				    </div>
			     </li>
		        <li>
		      	  <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
		  				<button class="btn btn-outline-light" type="submit" title="Logout">Log Out</button>
		         	</form>
		        </li>
	        </ul>
    	</div>
    <div>
    </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
     <div th:if="${#lists.isEmpty(allLabTestReports)}">
     <h2 style="text-align:center;">No Lab Test Report to View </h2>
     </div>
    <br>
     <input class="btn btn-primary" type="button" value="Go Back" onclick="labstaffdashboard()" />
    <br>
     <br>
    <div th:unless="${#lists.isEmpty(allLabTestReports)}">
    <h2>All Lab Tests</h2>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    <table class="table table table-striped table-bordered">
	    <thead>
	        <tr>
                <th scope="col">Patient Name</th>
                <th scope="col">Patient Email</th>
                <th scope="col">Appointment Start</th>
            	<th scope="col">Appointment End</th>
	            <th scope="col">Test Name</th>
	            <th scope="col">Test Result</th>
                <th scope="col"></th>
	            <th scope="col"></th>
	            <th scope="col"></th>
	        </tr>
	    </thead>
	    <tbody class="tableBody">
	        <tr th:each="labTestReport: ${allLabTestReports}" th:id="${labTestReport.labTestReportId}">
                <td>[[${labTestReport.labTest.user.firstName}]] [[${labTestReport.labTest.user.lastName}]]</td>
                <td>[[${labTestReport.labTest.user.email}]]</td>
                <td th:if="${labTestReport.labTest.diagnosis.appointment !=null}" th:text="${labTestReport.labTest.diagnosis.appointment.startTime}"></td>
           		<td th:if="${labTestReport.labTest.diagnosis.appointment !=null}" th:text="${labTestReport.labTest.diagnosis.appointment.endTime}"></td>
	            <td>[[${labTestReport.labTest.testName}]]</td>
	            <td>[[${labTestReport.testResult}]]</td>
	            <td><a th:href="@{|/labstaff/manageLabTestReport/view/${labTestReport.labTestReportId}|}" target="_blank"><i class="fa fa-file-pdf-o" style="font-size:24px;color:red;"></i></a></td>
                <form th:action="@{/labstaff/manageLabTestReport}" method="post">
                    <input type="hidden" name="labTestReportId" id="labTestReportId" th:value="${labTestReport.labTestReportId}" />
                    <td><button data-toggle="tooltip" title="Edit Lab Test Report" data-placement="top" class="btn pill-btn" value="modify" name="action"><i value="modify" name="action" class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:24px;color:brown;"></i></button></td>
                    <td><button data-toggle="tooltip" title="Delete Lab Test Report" data-placement="top" class="btn pill-btn" value="delete" name="action"><i class="fa fa-trash-o" aria-hidden="true" style="font-size:24px;color:red;"></i></button></td>
                </form>
	        </tr>
	    </tbody>
	</table>
    </div>
</div>
</body>
</html>