<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Secure Hospital System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- chatbot -->
<link rel="stylesheet" type="text/css" href="/chatbot.css">
<script type="text/javascript" src="/chatbot.js"></script>

</head>
<body>
	<div id="chatbot-body"> 
  
		<div id="chat-circle" class="btn btn-raised">
			<div id="chat-overlay"></div>
				<i class="fa fa-comments" aria-hidden="true"></i>
			</div>
		  
			<div class="chat-box">
				<div class="chat-box-header">ChatBot
					<span class="chat-box-toggle">
						<i class="fa fa-window-close fa-lg"></i>
					</span>
				</div>
				<div class="chat-box-body">
					<div class="chat-box-overlay"></div>
						<div class="chat-logs">
				
						</div><!--chat-log -->
					</div>
				<div class="chat-input">      
				<form>
					<input type="text" id="chat-input" placeholder="Send your query..."/>
				<button type="submit" class="chat-submit" id="chat-submit">
					<i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i>
				</button>
				</form>      
				</div>
		</div>
	</div>
		
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a th:href="@{/patient/home}" class="navbar-brand" href="#">Secure Hospital System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          
          <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
	        <ul style="list-style: none; display:contents">
		        <li class="nav-item active" style="padding-right: 20px;">
	        		<div style="display: flex; align-items:center">
				      	<div style="height: 10px; width: 10px; border-radius:50%; background-color: var(--success)"></div>
				      	<em style="color:white; font-size: 15px; margin-left: 10px">logged in as <span th:text="${accountName}"></span></em>
				    </div>
			     </li>
		        <li>
		      	  <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
						<button class="btn btn-outline-light" type="submit" title="Logout">Log Out</button>
					</form>
		        </li>
	        </ul>
    	</div>
    </nav>
    <br>
    <br>
    <br>
    <form action="#" th:action="@{/patient/createLabRequest}" id="labTest" method="POST" accept-charset="UTF-8" class="content-section col-md-8">
	<br>
	<br>
	<h2>Request A lab Test </h2>
	<br>
	<div class="form-group">
		<div class="form-group">
		<input type="hidden" name="diagnosisID" id="diagnosisID" th:value="${diagnosis.diagnosisID}" />
	      <label>
	        Test Name
	        </label>
	        <input type="text" class="form-control" id="testName" name="testName">
      </div>
		<label>
	      Description 
	      </label>
	      <input type="textarea" class="form-control" id="description" placeholder="Enter the reason for this lab test" name="description">
	 
      </div>
      <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html> 