<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Secure Hospital System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
      <script th:inline="javascript">
        function approve(id,firstname,lastname,amount,insId,purpose) {
            $.ajax({
                url : "[(@{'/insurancestaff/approveclaim/'})]"+id,
                type : "GET",
                beforeSend: function () {
        	    	$("#loader").removeClass('hidden');
        	        },
        	    complete: function () {
        	        $("#loader").addClass('hidden');
        	        },
                success : function(data) {
                	 $('#' + id).remove();
                	 var info = {"id":"claimid:"+" "+id.toString()+" at "+formatDate(),
            			     "patient_name":firstname+' '+lastname,
            			     "content":'amount: '+amount.toString()+', purpose: '+purpose+', policy Id: '+insId,
            			     "date":formatDate()
            	 			};
            	 $.ajax({
            	      method: "POST",
            	      url: "http://52.53.242.26:8080/api/add_report/",
            	      data: JSON.stringify(info),
            	      headers: {
            	        'Content-Type': 'application/json',
            	        'Access-Control-Allow-Origin': '*' 
            	    }
            	    })
            	      .done(function( msg ) {
            	    	  console.log("Sucessfully saved to block chain");
            	      });
                },
                error : function() {
                    console.log("There was an error");
                }
            });
        }
        function deny(id) {
             $.ajax({
                url : "[(@{'/insurancestaff/denyclaim/'})]"+id,
                type : "GET",
                beforeSend: function () {
        	    	$("#loader").removeClass('hidden');
        	        },
        	    complete: function () {
        	        $("#loader").addClass('hidden');
        	        },
                success : function(data) {
                	 $('#' + id).remove();
                },
                error : function() {
                    console.log("There was an error");
                }
            });
        	$("#loader").removeClass('hidden');
        }
        
        function denyAsNoInsurance(id) {
            $.ajax({
               url : "[(@{'/insurancestaff/denyclaimAsNoinsurance/'})]"+id,
               type : "GET",
               beforeSend: function () {
       	    	$("#loader").removeClass('hidden');
       	        },
       	    complete: function () {
       	        $("#loader").addClass('hidden');
       	        },
               success : function(data) {
               	 $('#' + id).remove();
               },
               error : function() {
                   console.log("There was an error");
               }
           });
       	$("#loader").removeClass('hidden');
       }
        
        function formatDate()
        {
        	date = new Date()
            var dd = date.getDate(); 
            var mm = date.getMonth()+1;
            var yyyy = date.getFullYear(); 
            if(dd<10){dd='0'+dd} 
            if(mm<10){mm='0'+mm}
            var hr = date.getHours();
            var min = date.getMinutes();
            var sec = date.getMinutes();
            if(hr<10){hr='0'+hr} 
            if(min<10){min='0'+min}
            if(sec<10){sec='0'+sec} 
            return d = mm+'/'+dd+'/'+yyyy+" at "+hr+':'+min+':'+sec
       }
    </script>
    <style>
   .lds-dual-ring.hidden {
        display: none;
    }

    .overlay {
        position: fixed;
        top:  50%;
    	left: 50%;
    	transform: translate(-50%,-50%);
        text-align: center;
    }
    
    /*Spinner Styles*/
    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }
    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 6px solid #000000;
        border-color: #000000 transparent #000000 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
        text-align: center;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a th:href="@{/insurancestaff/home}" class="navbar-brand" href="#">Secure Hospital System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
	        <ul style="list-style: none; display:contents">
		        <li class="nav-item active" style="padding-right: 20px;">
	        		<div style="display: flex; align-items:center">
				      	<div style="height: 10px; width: 10px; border-radius:50%; background-color: var(--success)"></div>
				      	<em style="color:white; font-size: 15px; margin-left: 10px">logged in as <span th:text="${accountName}"></span></em>
				    </div>
			     </li>
		        <li>
		      	  <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
		  				<button class="btn btn-outline-light" type="submit" title="Logout">Log Out</button>
		         	</form>
		        </li>
	        </ul>
    	</div>
    <div>
    </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
     <div th:if="${#lists.isEmpty(allclaims)}">
     <h2 style="text-align:center;">No Pending Lab Test Request </h2>
     </div>
    <br>
    <input class="btn btn-primary" type="button" value="Go Back" onclick="history.back(-1)" />
    <br>
     <br>
  	<div id="loader" class="lds-dual-ring hidden overlay">
    </div>
    <div th:unless="${#lists.isEmpty(allclaims)}">
    <h2>All Claims</h2>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    <table class="table table table-striped table-bordered">
	    <thead>
	        <tr>
                <th scope="col">Patient Name</th>
                <th scope="col">Patient Email</th>
	            <th scope="col">Amount</th>
	            <th scope="col">Purpose</th>
                <th scope="col">Policy ID</th>
	            <th scope="col">InsuranceName</th>
	            <th scope="col">Provider</th>
	            <th scope="col"></th>
	            <th scope="col"></th>
	        </tr>
	    </thead>
	    <tbody class="tableBody">
	        <tr th:each="claim: ${allclaims}" th:id="${claim.claimId}">
                <td>[[${claim.user.firstName}]] [[${claim.user.lastName}]]</td>
                <td>[[${claim.user.email}]]</td>
	            <td>[[${claim.amount}]]</td>
	            <td>[[${claim.purpose}]]</td>
	            <td th:if="${claim.insuranceDetails!=null}">[[${claim.insuranceDetails.insuranceId}]]</td>
	            <td th:if="${claim.insuranceDetails==null}"></td>
	            <td th:if="${claim.insuranceDetails!=null}">[[${claim.insuranceDetails.insuranceName}]]</td>
	            <td th:if="${claim.insuranceDetails==null}"></td>
	            <td th:if="${claim.insuranceDetails!=null}">[[${claim.insuranceDetails.provider}]]</td>
	            <td th:if="${claim.insuranceDetails==null}"></td>
	            <td th:if="${claim.insuranceDetails!=null}"><button class="btn btn-success" 
	                 th:onclick="approve([[${claim.claimId}]],[[${#strings.toString(claim.user.firstName)}]],[[${#strings.toString(claim.user.lastName)}]],[[${claim.amount}]],[[${claim.insuranceDetails.insuranceId}]],[[${#strings.toString(claim.purpose)}]]);">Approve</button></td>
                 <td th:if="${claim.insuranceDetails==null}">No Insurance for this Patient</td>
                <td th:if="${claim.insuranceDetails!=null}"><button class="btn btn-danger" 
                	th:onclick="'deny(\''+${claim.claimId}+ '\');'">Deny</button></td>
                <td th:if="${claim.insuranceDetails==null}"><button class="btn btn-danger" 
                	th:onclick="'denyAsNoInsurance(\''+${claim.claimId}+ '\');'">Deny</button></td>
	        </tr>
	    </tbody>
	</table>
    </div>
</div>
</body>
</html>