<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Secure Hospital System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    
</head>
<body>
<div class="container">
 <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a th:href="@{/doctor/home}" class="navbar-brand" href="#">Secure Hospital System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul style="list-style: none; display:contents">
                <li class="nav-item active" style="padding-right: 20px;">
                    <div style="display: flex; align-items:center">
                        <div style="height: 10px; width: 10px; border-radius:50%; background-color: var(--success)"></div>
                        <em style="color:white; font-size: 15px; margin-left: 10px">logged in as <span th:text="${accountName}"></span></em>
                    </div>
                </li>
                <li>
                    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
                        <button class="btn btn-outline-light" type="submit" title="Logout">Log Out</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
<br>
<br>
<br>
<div th:if="${userInfo}">
<div class="content-section col-md-8">
    <h2>Edit Doctor's Personal Information</h2>
    <br>
    <form th:action="@{/doctor/editinformation}" th:object="${doctor}" method="post">
        <fieldset class="form-group">
            <div class="form-group">
                <label for="Age">Age:</label>
                <input type="number" class="form-control" id="age" placeholder="Enter age" name="age" th:value="${userInfo.age}">
                <span class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
            </div>
            <div class="form-group">
                <label for="PhoneNumber">Phone Number:</label>
                <input type="number" class="form-control" id="phoneNumber" placeholder="Phone Number" name="phoneNumber" th:value="${userInfo.phoneNumber}">
                <span class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
            </div>
            <div class="form-group">
                <label for="Address">Address:</label>
                <input type="textarea" class="form-control" id="address" placeholder="Enter Address" name="address" th:value="${userInfo.address}">
                <span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
            </div>
            <div class="form-group">
                <label for="Gender">Gender:</label>
                <input type="textarea" class="form-control" id="gender" placeholder="Enter Gender" name="gender" th:value="${userInfo.gender}">
                <span class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Update</button>
        </fieldset>
    </form>
</div>
</div>
<div th:unless="${userInfo}">
<div class="content-section col-md-8">
    <h2>Update Personal Information</h2>
    <form th:action="@{/doctor/updateinformation}" th:object="${doctor}" method="post">
        <fieldset class="form-group">
            <div class="form-group">
                <label for="Age">Age:</label>
                <input type="number" class="form-control" id="age" placeholder="Enter age" name="age" th:field="*{age}">
                <span class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
            </div>
            <div class="form-group">
                <label for="PhoneNumber">Phone Number:</label>
                <input type="number" class="form-control" id="phoneNumber" placeholder="Phone Number" name="phoneNumber" th:field="*{phoneNumber}">
                <span class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
            </div>
            <div class="form-group">
                <label for="Address">Address:</label>
                <input type="textarea" class="form-control" id="address" placeholder="Enter address" name="address" th:field="*{address}">
                <span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
            </div>
            <div class="dropdown">
                <label for="Gender">Gender:</label>
                <select id="gender" placeholder="" name="gender" th:field="*{gender}" class="form-control">
                    <option th:value="null" th:text="Select">Select</option>
                    <option th:value="Female" th:text="Female">Female</option>
                    <option th:value="Male" th:text="Male">Male</option>
                    <option th:value="Do_not_Specify" th:text="Do_not_Specify">Do not specify</option>
                </select>
                <span class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</div>
</div>
</div>
</body>
</html>