<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Secure Hospital System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a th:href="@{/doctor/home}" class="navbar-brand" href="#">Secure Hospital System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          
           <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
	        <ul style="list-style: none; display:contents">
	         <li>
		  		<a th:href="@{/doctor/updateinfo}"><i style ="color:white;font-size:2rem;" class="fa fa-user" title="profile"></i></a>
		        </li>&nbsp&nbsp
		        <li class="nav-item active" style="padding-right: 20px;">
	        		<div style="display: flex; align-items:center">
				      	<div style="height: 10px; width: 10px; border-radius:50%; background-color: var(--success)"></div>
				      	<em style="color:white; font-size: 15px; margin-left: 10px">logged in as <span th:text="${accountName}"></span></em>
				    </div>
			     </li>
		        <li>
    				<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
		  				<button class="btn btn-outline-light" type="submit" title="Logout">Log Out</button>
		         	</form>
		        </li>
	        </ul>
    	</div>
    </nav>
    <br>
    <br>
    <br>
    <br>
     <div th:if="${#lists.isEmpty(diagnosis)}">
     <h2 style="text-align:center;">No Diagnosis for the selected patient is found </h2>
     </div>
    <br>
    <input class="btn btn-primary" type="button" value="Go Back" onclick="history.back(-1)" />
    <br>
    <br>
    </div>
    
<div class="container">
<div th:unless="${#lists.isEmpty(diagnosis)}">
    <div class="starter-template">
        <h1>List of Diagnoses for the selected patient</h1>
        <br>

        <table class="table table-striped table-bordered">
            <tr>
                <th scope="col">Diagnosis ID</th>
                <th scope="col">Doctor Name</th>
                <th scope="col">Problem</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            <tr th:each = "employee: ${diagnosis}">
                <td th:text="${employee.getDiagnosisID()}"></td>
                <td th:text="${employee.getDoctorName()}"></td>
                <td th:text="${employee.getProblem()}"></td>
                <form action="#" th:action="@{/doctor/updatediagnosis}" method="get">
                    <input type="hidden" name="diagnosisId" id="diagnosisId" th:value="${employee.getDiagnosisID()}" />
                    <td><button data-toggle="tooltip" title="Update Diagnosis" data-placement="top" class="btn pill-btn" value="modify" name="action"><i value="modify" name="action" class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:24px;color:brown;"></i></button></td>
                </form>
                <form th:action="@{/doctor/deletediagnosis}" method="get">
                	<input type="hidden" name="diagnosisId" id="diagnosisId" th:value="${employee.getDiagnosisID()}" />
                	<td><button data-toggle="tooltip" title="Delete Diagnosis" class="btn btn-danger">Delete</button></td>
                </form>
            </tr>
        </table>

    </div>
    </div>
</div>

<br>
<br>
</div>
</body>
</html>